body {
    background-color: #500017;
    overflow: hidden;
    user-select: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ========================================================================== */

#main-menu .font {
    font-family: "Young Serif", serif;
}

/* ------------------------ */

#main-menu > .logo {
    margin-top: 25vh;
}

#main-menu > .logo > .title {
    color: #e36245;
    font-variant: small-caps;
}

#main-menu > .logo > .t0 {
    font-size: 12vmin;
    margin-top: 8vh;
    margin-bottom: 0;
}
#main-menu > .logo > .t1 {
    font-size: 15vmin;
    margin-top: 0;
    margin-bottom: 8vh;
}

/* ------------------------ */

#main-menu > .bg-art {
    height: 40vmin;
    width: 100vw;
}

#main-menu > .bg-art > img {
    height: auto;
    max-width: 80%;
    box-shadow: #500017 0 20px 120px 40px, #e36245 40px 0 240px,
        #e36245 -40px 0 240px, #e36245 0 -40px 240px;
}

/* ------------------------ */

#main-menu > .buttons {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    margin: 5vmin;
    padding: 1vmin;
    gap: 1vh 1vw;
}

/* Buttons without text */
#main-menu button {
    box-sizing: border-box;
}

/* Buttons with text */
#main-menu button.font {
    background: none;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    font-size: 8vmin;
    text-align: start;
    color: darkkhaki;
}

/* ========================================================================== */

#game {
    display: flex;
    flex-wrap: wrap;
    padding: 5vh 5vw;
    gap: 5vh 5vw;
    box-sizing: border-box;
}

#game .font {
    font-family: "Young Serif", serif;
}

/* ------------------------ */

#game > .grid {
    box-sizing: border-box;
    display: grid;
    gap: 2vh 2vw;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    height: 50vh;
    width: 50vw;
}

#game > .grid > button {
    box-sizing: border-box;
    box-shadow: black 1vmin 1vmin 2vmin, rosybrown 0 0 3vmin;
    border-radius: 2vmax 4vmax 2vmax 1vmax;
    overflow: hidden;
}

#game > .grid > button > img {
    border-radius: 2vmax 4vmax 2vmax 1vmax;
    max-width: 80%;
    max-height: 80%;
}

/* ------------------------ */

#game > #build {
    background: peru;
}

#game > #combat {
    background: #e36245;
}

#game > .panel {
    display: grid;
    grid-template: 3fr 2fr 2fr 2fr 4fr 3fr / repeat(4, 1fr);
    height: 50vh;
    width: 35vw;
    padding: 2vh 2vw;
    gap: 1vh 2vw;
    box-sizing: border-box;
    border-radius: 1vmax 4vmax;
}

#game > .panel > .title {
    grid-column-end: span 4;
    overflow: hidden;
    font-size: 3vmin;
    font-variant: small-caps;
    text-shadow: #fc0 0 0 2vmax;
    color: #ffdd99;
}

#game > .panel > .portrait {
    grid-column-end: span 2;
    grid-row-end: span 3;
    /* background: #ffd771; */
    /* box-shadow: #50001744 0 0.5vmax 0.5vmax; */
    box-shadow: #50001744 0 0.25vmax 0.5vmax 0.25vmax;
    box-sizing: border-box;
    border-radius: 1vmax 1vmax 3vmax 1vmax;
    width: 100%;
    height: 100%;
    padding: 1vh 1vw;
}

#game > .panel > .mini-bar {
    grid-column-end: span 2;
    overflow: hidden;
    /* background: #ffecba; */
    /* box-shadow: #50001744 0 0.5vmax 0.5vmax; */
    box-shadow: #50001744 0 0.25vmax 0.5vmax 0.25vmax;
    border-radius: 1vmax 1vmax 2vmax 1vmax;
    gap: 1vw;
}

#game > .panel > .desc {
    grid-column-end: span 4;
    overflow: hidden;
    font-size: 2vmin;
    border-radius: 1vmax 4vmax 1vmax 1vmax / 1vmax 2vmax 1vmax 1vmax;
    box-shadow: #50001744 0 0.25vmax 0.5vmax 0.25vmax;
    box-sizing: border-box;
    padding: 0 1vw;
    color: #444;
    white-space: pre-wrap;
}

#game > .panel > button {
    font-size: 2vmin;
    overflow: hidden;
    border-radius: 1vmax 1vmax 1vmax 2vmax;
    box-shadow: #500017 0 0 1.5vmax;
}

#game > .panel > button > img {
    width: 80%;
    height: 80%;
}

/* ------------------------ */

#game > .bar {
    height: 20vh;
    width: 90vw;
    padding: 2vh 2vw;
    gap: 2vh 2vw;
    box-sizing: border-box;
    border-radius: 1vmax 4vmax;
}

#game > #fight {
    background: rosybrown;
}

#game > #fight > .card {
    display: grid;
    grid-template: 3fr 4fr 1fr / 1fr;
    height: 100%;
    width: 20%;
    border-radius: 2vmax 2vmax 1vmax 1vmax;
    box-shadow: #500017 0 0 16px;
}

#game > #fight > .card > .title {
    font-size: 2vmin;
}

#game > #fight > .card > .counters > span {
    font-size: 2vmin;
    margin: 0 0.4vw;
}

#game > #fight > .card > .bg-art {
    background: black;
    box-sizing: border-box;
    margin: 0 1vw 1vh;
    border-radius: 3vmax 3vmax 1vmax 1vmax / 6vmax;
    overflow: hidden;
}

#game > #fight > .card > .bg-art > img {
    max-height: 6vmin;
    max-width: 10vmin;
    /* filter: grayscale(80%); */
    /* box-shadow: #333 2vmin 0 2vmin, #333 -2vmin 0 2vmin; */
}

/* ------------------------ */

#game > .dashboard {
    display: flex;
    height: 10vh;
    width: 90vw;
    padding: 2vh 6vw;
    gap: 2vh 6vw;
    box-sizing: border-box;
    border-radius: 1vmax 4vmax;
    background: linear-gradient(rosybrown, #500017);
    box-shadow: inset #500017 0 -4vh;
}

#game > .dashboard > span {
    box-sizing: border-box;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0.5vmin 1vmin;
    border-radius: 16px / 24px;
    border: 2px solid rosybrown;
    background: rosybrown;
    height: 6vh;
    width: 14vw;
    text-align: center;
    font-size: 2vmin;
    padding: 2vh 2vw;
}

/* ========================================================================== */

.toast {
    position: absolute;
    top: 5vh;
    left: 5vw;
    padding: 3vh 3vw;
    box-sizing: border-box;
    height: 15vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    background: sandybrown;
}

.toast > .font {
    font-family: "Young Serif", serif;
}

/* ========================================================================== */

.tooltip {
    position: absolute;
    padding: 1vh 1vw;
    box-sizing: border-box;
    background: sandybrown;
    display: flex;
}

.tooltip > * {
    margin: 0;
    white-space: pre-wrap;
}

.tooltip > .font {
    font-family: "Young Serif", serif;
}
